
{% extends '/in.html.twig' %}
{% block content %}


{% endblock %}
{% block banner %}
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center" >
        <div class="content text-center">
            <h1 class="text-white">Welcome</h1>
            <h1 font-size="16px " class="textW"> aucun bon de livraison trouvé</h1>

        </div>
    </div>{% endblock %}
